
20220726_python_basic/Gfile/G.py
20221103_web/G.py
20221115_web_crawler/G.py
20221201_visualization/bokeh/Gfile/G.py
20221201_visualization/plotly/Gfile/G.py
20221201_visualization/plotly-express/Gfile/G.py
20221201_visualization/pyqt5/ui/__pycache__
20221201_visualization/pyqt5-plotly/Gfile/G.py
20221201_visualization/pyqt5-plotly/.idea
20221201_visualization/pyqt5-plotly/venv
20221201_visualization/pyqt5-plotly/__pycache__
20221201_visualization/pyqt5-plotly/ui/__pycache__
20221202_machine_learning/05_VGG_1/flower_photos
20221202_machine_learning/06_VGG_2/flowers_17
20221202_machine_learning/06_VGG_2/test_img
20221202_machine_learning/06_VGG_2/train_img
20221202_machine_learning/07_vgg_features/.idea
20221202_machine_learning/07_vgg_features/venv
20221202_machine_learning/08_vgg_artistic_style_transfer/.idea
20221202_machine_learning/08_vgg_artistic_style_transfer/venv
20221202_machine_learning/08_vgg_artistic_style_transfer/output
20221201_visualization/igraph/.idea
20221201_visualization/igraph/venv
20221201_visualization/visualizer/.idea
20221201_visualization/visualizer/venv
20221202_machine_learning/09_NLP_1/.idea
20221202_machine_learning/09_NLP_1/venv
20221202_machine_learning/09_NLP_1/training.1600000.processed.noemoticon.csv
20221202_machine_learning/10_NLP_2/.idea
20221202_machine_learning/10_NLP_2/my_sentiment_model
20221202_machine_learning/10_NLP_2/training.1600000.processed.noemoticon.csv
20221202_machine_learning/10_NLP_2/sentiment_model.zip
20221202_machine_learning/10_NLP_2/20221223_nlp_2.zip